.active {
    box-shadow: 0px 2px 0px 0px lightskyblue, 0px -2px 0px 0px lightskyblue;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex0 {
    flex: 0;
}

.flex1 {
    flex: 1;
}

.zIndex1 {
    z-index: 1;
}

.relative {
    position: relative;
}

.display-none {
    display: none;
}

.opacity001 {
    opacity: 0.01;
}

.opacity1 {
    opacity: 1;
}

.button {
	font-family: Corbel Light; 
	background-color: darkblue; /* #0CAC25 */
   	color: white; 
	border-color: darkblue;
    font-style: bold;
	margin-top: 25px;
}

.textCenter {
    text-align: center;
}