.mainNote {
    position: absolute;
    width: 300px;
    height: calc(35% + 250px);
    background-color: #f0eeef; /* rgb(255, 242, 171), #f5dec3 */
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid;
    padding: 5px;
    transition: .5s ease;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noConnections {
    width: 100px;
    height: 125px;
    border: 1px solid;
}

.mainNote:hover {
    z-index: 4;
}

.mainNote:hover .noteText .stickyNote:hover .noteText {
    opacity: 1;
    max-height: unset;
    overflow: auto;
}

.stickyNote {
    border: 1px solid black;
    background-color: rgb(255, 247, 209, .95); /* rgb(255, 242, 171) */
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 5px;
    transition: .5s ease;
    translate: 0 0;
    overflow: hidden;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.stickyNote:hover {
    width: 175px;
    height: 175px;
    z-index: 4;
}

.content {
    position: relative;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    padding: 2px;
    flex: 1;
}

.titleAndDateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteTitle {
    position: relative;
    font-style: italic;
    text-align: unset;
    left: 50%;
    translate: -50%;
}

.noteText {
    text-overflow: ellipsis;
    font-size: 11pt;
    /* opacity: 0; */
    transition: .5s ease;
    max-height: calc(100% - 25px);
    overflow: hidden;
}

.noteDate {
    position: absolute;
    top: 1%;
    right: 3%;
    color: #4c4c4c;
}

.mainNote:hover .noteTitle, .stickyNote:hover .noteTitle {
    left: 0%;
    translate: 0%;
}

.mainNote:hover .noteText, .stickyNote:hover .noteText {
    overflow-y: auto;
    opacity: 1;
}

.line {
    width: 1px;
    transition: .5s ease;
}

.connectedNote {
    color: mediumseagreen;
}