.container {
    -webkit-touch-callout: none;
}

.removeNote {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../../resources/removeIcon.png');
    background-size: cover;
    left: 89%;
    bottom: 5%;
    opacity: 0;
    transition: .25s ease;
}

.removeNote:hover {
    background: url('../../resources/removeIconHover.png');
    background-size: cover;
}

.removeNoteEntry {
    left: 92%;
    display: block;
    opacity: 1;
}

.unsavedNote {
    background-repeat: no-repeat;
  
    background-size: 
        calc(100%) 31px, /* top & bottom */
        4px calc(100%); /* right & left */
    
    background-position: 
        0px 6px, /* top */
        calc(100%) 0px, /* right */
        0px calc(100%), /* bottom */
        0px 0px; /* left */
    
    background-image: 
        linear-gradient(0deg, rgba(211, 211, 211, 0.749), rgba(211, 211, 211, 0.749)),
        linear-gradient(90deg, rgba(211, 211, 211), rgb(211, 211, 211, .749)),
        linear-gradient(180deg, transparent, transparent),
        linear-gradient(270deg, transparent, transparent);
}

.unsavedNoteText {
    font-style: italic;
}

.reordering {
    position: absolute;
    opacity: .6;
    width: 300px;
    padding: 8px 16px;
    background-color: white;
    cursor: default;
    top: 400px;
    pointer-events: none;
}

.reordering:hover {
    background-color: white;
}